@import '../../scss/colors';

#FormUser {
  position: fixed;
  background-color: #222f5459;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
  .form-container {
    background-color: white;
    padding: 14px;
    border-radius: 34px;
    box-shadow: $shadowBasic;
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
      text-align: center;
    }
    .input-name {
      border: 1px solid $primary;
      border-radius: 18px;
      font-size: .8rem;
      padding: 12px;
      width: 254px;
      resize: none;
      margin-right: 14px;
    }
    .submit {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .btn-submit {
        width: 45px;
        height: 45px;
        overflow: hidden;
        border-radius: 50%;
        background-color: $primary;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s;
        color: white;
        &:hover {
          filter: brightness(110%);
        }
        img {
          width: 50%;
          height: auto;
        }
      }
    }
  }
}