@import './scss/colors';
@import './scss/fonts';


body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: $bgColor;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .chat {
    background-color: white;
    width: 355px;
    height: 655px;
    box-shadow: $shadowBasic;
    border-radius: 34px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .chat-container {
      flex: 1;
      padding: 0px 24px;
      overflow-y: auto;
      scrollbar-width: thin;
      &::-webkit-scrollbar {
        width: .3em;
      }
      &::-webkit-scrollbar-track {
        box-shadow: unset;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #727a883b;
        border-radius: 34px;
      }
    }
  }
}