$fontColor: #404146;
$dark: #222f54;
$primary: #2d9bfa;
$success: #37cf92;
$secondary: #ac9efe;
$disable: #727a88;
$bgContainer: #eceff6;
$bgColor: #fafafa;

$shadowBasic: 0px 16px 24px rgba(48, 137, 182, 0.06), 0px 2px 6px rgba(48, 137, 182, 0.04), 0px 0px 1px rgba(48, 137, 182, 0.04);
$shadowPrimary: 0px 16px 24px rgba(7, 133, 196, 0.06), 0px 2px 6px rgba(7, 133, 196, 0.04), 0px 0px 1px rgba(7, 133, 196, 0.04);